    </div><!-- #container -->
  <%_ include ../layout/_footer _%>
  </div><!-- #wrapper -->
<%_ for ( var i = 0; i < jsFile.length; i++ ) { _%>
<script type="text/javascript" src="<%= root %>js/<%= jsFile[i] %>.js"></script>
<%_ } _%>
</body>
</html>
